Repository vmware/packer-examples-for-vsphere, pull requests merged in 2023-11, with the labels that each got.

#767 chore: update ansible `scp_extra_args`
  CHANGELOG.md
  ansible/ansible.cfg
  docs/getting-started/requirements.md
Labels: type/chore, area/ansible, cla-not-required

#768 chore: remove unused ansible files
  CHANGELOG.md
  ansible/roles/base/defaults/main.yml
  ansible/roles/base/meta/main.yml
  ansible/roles/base/tasks/debian.yml
  ansible/roles/base/tasks/photon.yml
  ansible/roles/base/tasks/redhat.yml
  ansible/roles/base/tasks/sles.yml
  ansible/roles/base/tasks/ubuntu.yml
  ansible/roles/base/vars/main.yml
Labels: type/chore, area/ansible, cla-not-required

#769 feat: add ubuntu 23.10
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  ansible/roles/configure/tasks/debian.yml
  ansible/roles/configure/tasks/ubuntu.yml
  build.sh
  build.yaml
  builds/linux/ubuntu/23-10/data/meta-data
  builds/linux/ubuntu/23-10/data/user-data.pkrtpl.hcl
  builds/linux/ubuntu/23-10/linux-ubuntu.auto.pkrvars.hcl
  builds/linux/ubuntu/23-10/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/23-10/variables.pkr.hcl
  docs/getting-started/iso.md
  docs/index.md
Labels: type/enhancement, cla-not-required

#770 chore: remove redundant ansible task
  CHANGELOG.md
  ansible/roles/users/tasks/linux.yml
  ansible/roles/users/tasks/photon.yml
Labels: type/chore, area/ansible, cla-not-required

#773 chore: add `boot_command` inline comments
  builds/linux/almalinux/8/linux-almalinux.pkr.hcl
  builds/linux/almalinux/9/linux-almalinux.pkr.hcl
  builds/linux/centos/7/linux-centos.pkr.hcl
  builds/linux/centos/8-stream/linux-centos-stream.pkr.hcl
  builds/linux/centos/9-stream/linux-centos-stream.pkr.hcl
  builds/linux/debian/11/linux-debian.pkr.hcl
  builds/linux/debian/12/linux-debian.pkr.hcl
  builds/linux/oracle/8/linux-oracle.pkr.hcl
  builds/linux/oracle/9/linux-oracle.pkr.hcl
  builds/linux/photon/4/linux-photon.pkr.hcl
  builds/linux/photon/5/linux-photon.pkr.hcl
  builds/linux/rhel/7/linux-rhel.pkr.hcl
  builds/linux/rhel/8/linux-rhel.pkr.hcl
  builds/linux/rhel/9/linux-rhel.pkr.hcl
  builds/linux/rocky/8/linux-rocky.pkr.hcl
  builds/linux/rocky/9/linux-rocky.pkr.hcl
  builds/linux/sles/15/linux-sles.pkr.hcl
  builds/linux/ubuntu/20-04-lts/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/22-04-lts/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/23-10/linux-ubuntu.pkr.hcl
Labels: type/chore, cla-not-required

#771 feat: add additional configuration options
  CHANGELOG.md
  builds/common.pkrvars.hcl.example
  builds/linux/almalinux/8/linux-almalinux.pkr.hcl
  builds/linux/almalinux/8/variables.pkr.hcl
  builds/linux/almalinux/9/linux-almalinux.pkr.hcl
  builds/linux/almalinux/9/variables.pkr.hcl
  builds/linux/centos/7/linux-centos.pkr.hcl
  builds/linux/centos/7/variables.pkr.hcl
  builds/linux/centos/8-stream/linux-centos-stream.pkr.hcl
  builds/linux/centos/8-stream/variables.pkr.hcl
  builds/linux/centos/9-stream/linux-centos-stream.pkr.hcl
  builds/linux/centos/9-stream/variables.pkr.hcl
  builds/linux/debian/11/linux-debian.pkr.hcl
  builds/linux/debian/11/variables.pkr.hcl
  builds/linux/debian/12/linux-debian.pkr.hcl
  builds/linux/debian/12/variables.pkr.hcl
  builds/linux/oracle/8/linux-oracle.pkr.hcl
  builds/linux/oracle/8/variables.pkr.hcl
  builds/linux/oracle/9/linux-oracle.pkr.hcl
  builds/linux/oracle/9/variables.pkr.hcl
  builds/linux/photon/4/linux-photon.pkr.hcl
  builds/linux/photon/4/variables.pkr.hcl
  builds/linux/photon/5/linux-photon.pkr.hcl
  builds/linux/photon/5/variables.pkr.hcl
  builds/linux/rhel/7/linux-rhel.pkr.hcl
  builds/linux/rhel/7/variables.pkr.hcl
  builds/linux/rhel/8/linux-rhel.pkr.hcl
  builds/linux/rhel/8/variables.pkr.hcl
  builds/linux/rhel/9/linux-rhel.pkr.hcl
  builds/linux/rhel/9/variables.pkr.hcl
  builds/linux/rocky/8/linux-rocky.pkr.hcl
  builds/linux/rocky/8/variables.pkr.hcl
  builds/linux/rocky/9/linux-rocky.pkr.hcl
  builds/linux/rocky/9/variables.pkr.hcl
  builds/linux/sles/15/linux-sles.pkr.hcl
  builds/linux/sles/15/variables.pkr.hcl
  builds/linux/ubuntu/20-04-lts/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/20-04-lts/variables.pkr.hcl
  builds/linux/ubuntu/22-04-lts/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/22-04-lts/variables.pkr.hcl
  builds/linux/ubuntu/23-10/linux-ubuntu.pkr.hcl
  builds/linux/ubuntu/23-10/variables.pkr.hcl
  builds/vsphere.pkrvars.hcl.example
  builds/windows/desktop/10/variables.pkr.hcl
  builds/windows/desktop/10/windows.pkr.hcl
  builds/windows/desktop/11/variables.pkr.hcl
  builds/windows/desktop/11/windows.pkr.hcl
  builds/windows/server/2019/variables.pkr.hcl
  builds/windows/server/2019/windows-server.pkr.hcl
  builds/windows/server/2022/variables.pkr.hcl
  builds/windows/server/2022/windows-server.pkr.hcl
  docs/getting-started/configuration.md
  set-envvars.sh
Labels: type/enhancement, status/planned, status/awaitng-response

#774 fix: ansible truncate machine-id
  ansible/roles/clean/tasks/debian.yml
  ansible/roles/clean/tasks/photon.yml
  ansible/roles/clean/tasks/redhat.yml
  ansible/roles/clean/tasks/suse.yml
Labels: type/bug, area/ansible, cla-not-required

#779 Fix issue-778
  builds/linux/ubuntu/23-10/linux-ubuntu.pkr.hcl
Labels: cla-not-required

#782 fix: debian os family ssh key
  ansible/roles/configure/tasks/debian.yml
Labels: type/bug, area/ansible, cla-not-required
